/*CONFIGURAÇÃO GERAL*/
body{background: #f3f3f3;}
label{font-size: 12px;color: #5bc0de;margin: 0px;}
.danger{color: #d9534f !important;}
main{padding-top: 50px;}
footer{height: 50px;}
button{margin:0 2px;}
/*REESCREVER BOOTSTRAP*/
.container{max-width: 880px; padding: 0px;}
.form-control,.btn{border-radius: 2px;}
#nav .container ol{margin: 0px;	border-radius: 0px;	background: none; padding: 0px;}
.container.bc{padding:0px;}
.breadcrumb{margin: 0px; border-radius: 0px; background: none; padding: 20px 0px 12px;}
.row{margin: 0;}
.col{padding: 0;}
/*ELEMENTOS INDIVIDUAIS*/
.required{border: 1px solid red !important;}
/*CLASSES DO PROJETO*/
.conteudo{background: #fff; border-radius: 2px; padding: 10px; margin-top: 10px; margin-bottom: 5px; border: 1px solid #dadada;}

a.link-list{display:block; padding: 10px 0; color:#333333;}
a.link-list:hover{background-color:#f3f3f3;}

.align-right{text-align: right;}

.align-center{text-align: center;}

.float-right{float:right;}
.col input,.col textarea,.col select{margin: 4px 0px; border-radius: 2px; font-size: 14px;}
.col button{margin:4px 0 0 4px;}
.col textarea{resize: none;}
.col-titulo{font-weight: bold;border-bottom: 1px solid #e4e4e4;padding-bottom: 6px;text-transform: uppercase; margin-bottom: 6px; font-size: 10px;}
.col-botoes{border-top: 1px solid #e4e4e4; padding-top: 8px; margin-top: 8px;}
.col-andamento{border-top: 1px solid #e4e4e4; padding-top: 6px; margin-top: 6px;}
.col-andamento a{color: #5bc0de;}
/*PROJETO*/

/*ajustes item metrica inicio*/
.row.im{margin: -2px;}
.col.im{padding: 1px 2px;}
.item-metrica{background-color: #fff;height: 100px;border-radius: 2px;padding-top: 28px;overflow: hidden; border: 1px solid #dadada}
.item-metrica i{color: #616161;}
.item-metrica b{font-size: 16px;}
/*ajustes item metrica fim*/
/**/
/**/
.tarefa-entregue{text-align: center;color: #5bc0de;}
.tarefa-entregue h1{font-size: 20px;text-transform: uppercase;margin: 20px 0 5px 0;}
.tarefa-entregue i{display: block;margin-bottom: 15px;}
/**/
.btn-left{
	margin: 4px 4px 0 0 !important;
}
.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
/* paginação */
nav{
	text-align: center;
}
nav ul.pagination{
	margin-top: 10px;
}
nav ul.pagination>.active>a{
	background: #5bc0de;
	border-color: #5bc0de;
}
/* fim paginação */
/* menu principal */
header{
	width: 100%;
	height: 50px;
	background: #5cc0de;
	overflow: hidden;
	position: fixed;
	z-index: 99;
}
header ul{
	padding: 0px;
}
header ul li{
	float: left;
	list-style: none;
	padding: 17px 10px 15px 0px;
}
header ul a{
	color: #dcf7ff;
}
header ul a:hover{
	color: #fff;	
}

/*menu responsivo*/
header button{
	height: 50px;
    width: 50px;
    border: 0;
    background-color: #5cc0de;
    color: #fff;
    font-size: 20px;
}
/* fim menu principal */


.col.gf{
	padding: 2px;
	
}
.grafico{
	background: #fff;
	border-radius: 4px;
	padding: 4px 10px 10px 6px;
	border: 1px solid #dadada;
}



.super-menu{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	z-index: 99;
	margin-top: 50px;
}
button#super-botao{
	margin: 0px;
}
.super-menu ul{
	padding: 0px;
}
.super-menu ul a{
	display: block;
    height: 50px;
    background: #383838;
    margin: 1px;
    color: #fff;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}
.super-menu ul a li{
	list-style: none;
}


.p4l{
	padding-left: 4px; 
}
.p4r{
	padding-right: 4px;
}
.m6b{
	margin-bottom: 6px !important;
}
.col-input{
	padding: 0 4px;
}

.row-input{
	margin: 0px -4px;
}

.row-input label{
	padding: 0 4px;
}
.placeholder{
	color: #999;
}
select option:first-child{
	color: #999;
	display: none;
}
select option{
	color: #555;
}
.mensagens>.alert{
	margin: 0px 0px 2px 0px;
}

.typeahead__group-group span{
	font-size: 14px;
}

span#desconto{
	padding-top: 10px;
	display: block;
	font-weight: bold;
}
span#valortotal{
	font-weight: bold;
}
span#totalliquido{
	font-weight: bold;
}


/**/
.linhas, .cabecalho-servicos{
	padding-right: 15px;
}
small.remover-linha{
	display: block;
    float: right;
    margin: -28px -12px 0 0;
    cursor: pointer;
    height: 15px;
    padding: 0px 4px;
    position: relative;
    color: #343434;
}
/**/
.totais{
	border-radius: 2px;
    border: 1px solid #ddd;
    display: table;
}
h2{
	text-align: center;
	font-size: 24px;
}

li#logo{
    width: 150px;
    height: 50px;
    display: block;
    background-image: url(../img/logo.png);
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: left;
}
.item-servico{
    border-radius: 2px;
    border: 1px solid #ddd;
    height: auto;
    width: 100%;
    display: table;
    margin: 6px 0;
    padding: 0 12px 0 0px;
}